extends layout

block content 
  h2="Add Message"
  form(action='/new', method='POST' style='display:flex')
    input(type='text', placeholder='User', name="user")
    textarea(type='text', placeholder="Message", name='text')
    input(type='submit')
